/* Style for our header texts
	* --------------------------------------- */


@font-face {
	font-family: 'Simplifica';
	src: url('assets/Simplifica.eot');
	src: url('assets/Simplifica.eot?#iefix') format('embedded-opentype'),
		url('assets/Simplifica.woff') format('woff'),
		url('assets/Simplifica.ttf') format('truetype'),
		url('assets/Simplifica.otf') format('opentype'),
		url('assets/Simplifica.svg#Simplifica') format('svg');
	font-weight: normal;
	font-style: normal;

	font-family: 'StMarie';
	src: url('assets/StMarie-Thin.eot');
	src: url('assets/StMarie-Thin.eot?#iefix') format('embedded-opentype'),
		url('assets/StMarie-Thin.woff') format('woff'),
		url('assets/StMarie-Thin.ttf') format('truetype'),
		url('assets/StMarie-Thin.svg#StMarie-Thin') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 2em;
	color: #666;
	font-family: Simplifica;
	margin: 0;
	padding: 0;
	text-align: center;
}

img {
	margin: auto;
	display: block;
	max-width: 70vw;
	max-height: 80vh;
}

video {
	display: block;
	margin: auto;
	height: auto;
	width: auto;
	max-width: 70vw;
	max-height: 80vh;
}
iframe {
	display: block;
	margin: auto;
	/*height: auto;
	width: auto;*/
	max-width: 70vw;
	max-height: 80vh;
}


/* Fixed header and footer.
	* --------------------------------------- */

#header {
	position: fixed;
	height: 70spx;
	display: block;
	width: 80vw;
	z-index: 9;
	text-align: center;
	padding-top: 1.5vh;
	margin-left: 10vw;
	margin-right: 10vw;

}

#header div {
	padding-left: 1vw;
	padding-right: 1vw;
	display: inline-block;
	vertical-align: middle;
	font-family: StMarie;
}

div.inSlide {
	text-align: center;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	max-width: 70vw;
}

div.inSlide div{
	display: inline-block;
	color: #000;
	padding: 1vw;

	font-family: StMarie;
	vertical-align: middle;
}

div.text{
	max-width: 700px;
}

div.text p{
	text-align: justify;
	font-family: StMarie;
	text-indent: 2.5vw;
}

.fp-controlArrow.fp-prev {
	left:0;
	border: none;
	width: 5vw;
	height: 5vw;
	background: url(assets/leftArrow.svg);
	cursor: pointer;
}

.fp-controlArrow.fp-next {
	right: 0;
	border: none;
	width: 5vw;
	height: 5vw;
	background: url(assets/rightArrow.svg);
	cursor: pointer;
}

.fullPage-tooltip {
	color: black;
	cursor: pointer;
}

a:visited,
a:link {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #ffa700;
}

a.current {
	/*color: #ffa700;*/
	color: black;
	text-shadow: 0 0 1px #dddddd;
}

/* Style for our header texts
	* --------------------------------------- */
