/* Style for our header texts
	* --------------------------------------- */


@font-face {
	font-family: 'Simplifica';
	src: url('assets/Simplifica.eot');
	src: url('assets/Simplifica.eot?#iefix') format('embedded-opentype'),
		url('assets/Simplifica.woff') format('woff'),
		url('assets/Simplifica.ttf') format('truetype'),
		url('assets/Simplifica.otf') format('opentype'),
		url('assets/Simplifica.svg#Simplifica') format('svg');
	font-weight: normal;
	font-style: normal;

	font-family: 'StMarie';
	src: url('assets/StMarie-Thin.eot');
	src: url('assets/StMarie-Thin.eot?#iefix') format('embedded-opentype'),
		url('assets/StMarie-Thin.woff') format('woff'),
		url('assets/StMarie-Thin.ttf') format('truetype'),
		url('assets/StMarie-Thin.svg#StMarie-Thin') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 2em;
	color: #666;
	font-family: "Simplifica", sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
}
h2 {
	font-size: 2em;
	color: #000;
	font-family: "StMarie", serif;
	margin: 0;
	padding: 0;
	text-align: center;
}

img.slideImg {
	margin: auto;
	display: block;
	max-width: 70vw;
	max-height: 80vh;
}

figure{
		margin: auto;
	display: block;
	text-align: center;
}

#myVideo {


}
iframe {
	display: block;
	margin: auto;
	/*height: auto;
	width: auto;*/
	max-width: 80vw;
	max-height: 45vw;
	/*max-height: 80vh;*/
}


/* Fixed header and footer.
	* --------------------------------------- */

#header {
	position: fixed;
	/*height: 70spx;
	display: block;
	width: 30px;*/
	z-index: 9;
	text-align: left;
	/*padding-top: 1.5vh;*/
	margin-left: 30px;
	margin-top: 30px;
	/*margin-right: 10vw;*/


}

#header div {
	padding-left: 1vw;
	padding-right: 1vw;
	display: inline-block;
	vertical-align: middle;
	font-family: StMarie;
}

div.inSlide {
	text-align: center;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
	max-width: 70vw;
}

div.inSlide div{
	display: inline-block;
	color: #000;
	padding: 1vw;

	font-family: StMarie;
	vertical-align: middle;
}

div.text{	max-width: 40vw;}
@media screen and (max-width: 800px) {
div.text{	max-width: 80vw;}
}



div.text p{
	text-align: justify;
	font-family: StMarie;
	text-indent: 2.5vw;
	font-size: 15pt;
	/*font-weight: 500;*/
	/*font-size-adjust: auto;*/
}

span {
	font-size: 150%;
}


.fp-controlArrow.fp-prev {
	left:0;
	border: none;
	width: 5vw;
	height: 5vw;
	background: url(assets/leftArrow.svg);
	cursor: pointer;
}

.fp-controlArrow.fp-next {
	right: 0;
	border: none;
	width: 5vw;
	height: 5vw;
	background: url(assets/rightArrow.svg);
	cursor: pointer;
}

.fullPage-tooltip {
	color: black;
	cursor: pointer;
}

a:visited,
a:link {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #ffa700;
}

a.current {
	/*color: #ffa700;*/
	color: black;
	text-shadow: 0 0 1px #dddddd;
}




	#myVideo{
		position: absolute;
		right: 0;
		bottom: 0;
		top:0;
		right:0;
		width: 100%;
		height: 90%;
		background-size: 100% 100%;
 		background-color: black; /* in case the video doesn't fit the whole page*/
  		background-image: /* our video */;
  		background-position: center center;
  		background-size: contain;
   		object-fit: cover; /*cover video background */
   		z-index:3;
	}

	/* Layer with position absolute in order to have it over the video
* --------------------------------------- */
#section0 .layer{
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0;
	top: 43%;
	/*
	* Preventing flicker on some browsers
	* See http://stackoverflow.com/a/36671466/1081396  or issue #183
	*/
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
/*solves problem with overflowing video in Mac with Chrome */
#section0{
	overflow: hidden;
}





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
		/*opacity: 0.7;*/
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
		font-family: "StMarie", serif;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #bdbdbd;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover, .offcanvas a:focus{
    color: #ffa700;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
